
.footer {
    font-size: 16px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    font-family: "8bitOperatorPlus-Regular", monospace;
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }