.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input {
    flex: 1;
    padding: 0.5rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-radius: 0;
    border-color: white;
    font-size: 1rem;
    border-style: solid;
    box-sizing: border-box;
    min-width: 0;

    font-family: "8bitOperatorPlus-Regular", monospace;

    background-color: transparent;
}

.button {
    font-family: "8bitOperatorPlus-Regular", monospace;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 0;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover {
    color: yellow;
    border-color: yellow;
}

.form {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.25rem;
}
