.sidebar, .mobile-sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: start;
    overflow-y: scroll;
}

.mobile-sidebar summary {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem 0;
}
.mobile-sidebar summary::before {
    content: '^';
    font-size: 1.5rem;
    display: inline-block;
}
.mobile-sidebar details[open] summary::before {
    transform: rotate(180deg);
}
.mobile-sidebar summary::after {
    content: '';
}
.mobile-sidebar details[open] summary::after {
    content: '';
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
    .mobile-sidebar {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .mobile-sidebar {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
        overflow-y: scroll;
    }
}

.sidebar a, .mobile-sidebar a {
    color: rgba(0, 200, 200, 1);
}

.sidebar a:hover, .mobile-sidebar a:hover {
    color: rgba(0, 255, 255, 1);
}

.sidebar p, .mobile-sidebar p {
    color: lightgray;
    font-size: 16px;
}