.container {
    display: grid;
    grid-template-columns: 16rem 1fr;
    width: 100%;
}

.sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: start;
}

.main {
    padding: 6rem;
}