.type {
    color: white;
}

.wikiNoShadow {
    text-shadow: 0px 0px
}

.Doxbox {
    display: block;
}

.toggle {
    cursor: pointer;
    user-select: none;
}

.type {
  font-weight: normal;
  font-family: "8bitOperatorPlus-Bold", monospace;
}

.variable {
  font-family: "8bitOperatorPlus-Regular", monospace;
  font-style: italic;
  color: white
}
/*
https://iamkate.com/code/tree-views/
*/
.tree{
    --spacing : 1.5rem;
    --radius  : 10px;
  }
  
  .tree li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
    margin-left : min(var(--radius), 1vw);
  }
  
  .tree ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
  }
  
  .tree ul li{
    border-left : 2px solid #ddd;
  }
  
  .tree ul li:last-child{
    border-color : transparent;
  }
  
  .tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #fff;
    border-width : 0 0 2px 2px;
  }
  
  .tree summary{
    display : block;
    cursor  : pointer;
  }
  
  .tree summary::marker,
  .tree summary::-webkit-details-marker{
    display : none;
  }
  
  .tree summary:focus{
    outline : none;
  }
  
  .tree summary:focus-visible{
    outline : 1px dotted #000;
  }
  
  /* please redo this. */
  .tree li::after, .tree summary::before{
    content       : '^';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius) + 2px);
    left          : calc(var(--spacing) - 1.3*var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    background    : #122;
    border: 2px solid #fff;
    
    transform:  rotate(0.25turn); /* > */
    padding-left : calc(var(--radius) - 0.4em); /* padding bottom */

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  .tree summary::before{
    z-index    : 1;
    padding-left : calc(var(--radius) - 0.3em);
    transform: scale(1,-1); /* v */
    border-color: #122;
    border-style : none;
    background-color : #fff;
    color: #122
  }
  
  .tree details[open] > summary::before{
    background-position : calc(-2 * var(--radius)) 0;
    transform: none; /* ^ */
  }

/* global.css overrides */
.tree summary::after {
    content: ''
}

.tree details[open] > summary::after {
    content: '';
}

.tree summary:hover::before {
    background-color: rgba(255, 255, 0, 1);
}
