div.tree ul, div.tree ul ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   div.tree ul ul {
     margin-left: 2rem;
   }
   div.tree ul li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: white;
     border-left: 2px solid lightgray;

   }
   div.tree ul li:last-child {
       border-left:none;
   }
   div.tree ul li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:2px solid lightgray;
      content:"";
      display:inline-block;
      left:-7px;
   }
   div.tree ul li:last-child:before {
      border-left:2px solid lightgray;   
   }

div.tree p {
    all: unset
}